<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# ANSWER
rock_csv = '../DATA/rock.csv'
rock = pd.read_csv(rock_csv)

In [9]:
rock.head(5)

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [4]:
# ANSWER
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [5]:
# ANSWER
rock.isnull().sum()

Song Clean        0
ARTIST CLEAN      0
Release Year    577
COMBINED          0
First?            0
Year?             0
PlayCount         0
F*G               0
dtype: int64

In [10]:
null_mask = rock['Release Year'].isnull()
rock.loc[null_mask, 'Release Year'] = 0
rock.isnull().sum()

Song Clean      0
ARTIST CLEAN    0
Release Year    0
COMBINED        0
First?          0
Year?           0
PlayCount       0
F*G             0
dtype: int64

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [7]:
# ANSWER
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Song Clean    2230 non-null   object
 1   ARTIST CLEAN  2230 non-null   object
 2   Release Year  1653 non-null   object
 3   COMBINED      2230 non-null   object
 4   First?        2230 non-null   int64
 5   Year?         2230 non-null   int64
 6   PlayCount     2230 non-null   int64
 7   F*G           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [11]:
# ANSWER
rock['Release Year'].value_counts()
#noted illogical value in song facts.com

Release Year
0                577
1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1981              61
1967              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1964              14
1992              14
1999              13
1995              10
1997               9
1963               9
1996               9
1998               6
2002               6
2005               5
2004               5
2012               5
2001               4
2007               3
1962               3
2000               3
2011               3
2003               3
2008               3
2014               2
2013               2
2006               1
SONGFACTS.COM      1
1071               1
1958               1
1955               1
1961               1
Name: count, dtype: int64

In [12]:
song_facts_mask = rock['Release Year'] == 'SONGFACTS.COM'
rock.loc[song_facts_mask, 'Release Year'] = np.NaN

In [13]:
rock['Release Year'] = pd.to_numeric(rock['Release Year'])

In [14]:
rock.dtypes
#by seeign that everything in year is an integer we can be sure that its all numbers and songgacts that is a string will not be there anymore

Song Clean       object
ARTIST CLEAN     object
Release Year    float64
COMBINED         object
First?            int64
Year?             int64
PlayCount         int64
F*G               int64
dtype: object

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [15]:
# ANSWER
def check_song(row):
    print('Song: ', row['song_clean'])
    print('Artist: ', row['artist_clean'])
    print('Released before 1970: ', row['release_year'] < 1970)
    print('\n')

In [16]:
rock.iloc[0]

Song Clean                     Caught Up in You
ARTIST CLEAN                        .38 Special
Release Year                             1982.0
COMBINED        Caught Up in You by .38 Special
First?                                        1
Year?                                         1
PlayCount                                    82
F*G                                          82
Name: 0, dtype: object

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [18]:
# ANSWER
def convert_to_numeric(column):
    column = pd.to_numeric(column, errors='coerce')
    return column

### Apply this last function to your dataset

In [23]:
rock[['Release Year', 'First?', 'Year?', 'PlayCount', 'F*G']].apply(convert_to_numeric)

      Release Year  First?  Year?  PlayCount  F*G
0           1982.0       1      1         82   82
1              0.0       1      0          3    0
2           1981.0       1      1         85   85
3           1980.0       1      1         18   18
4           1975.0       1      1          1    1
...            ...     ...    ...        ...  ...
2225           0.0       1      0          1    0
2226        1981.0       1      1         32   32
2227        1975.0       1      1        109  109
2228        1983.0       1      1          1    1
2229        1973.0       1      1          2    2

[2230 rows x 5 columns]

### 'Describe' the new DataFrame

In [24]:
# ANSWER
rock.describe().T

,count,mean,std,min,25%,50%,75%,max
Release Year,2229.0,1465.988784,866.834789,0.0,0.0,1973.0,1981.0,2014.0
First?,2230.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
Year?,2230.0,0.741256,0.438043,0.0,0.0,1.0,1.0,1.0
PlayCount,2230.0,16.872646,25.302972,0.0,1.0,4.0,21.0,142.0
F*G,2230.0,15.048430,25.288366,0.0,0.0,3.0,18.0,142.0

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---